@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif !important;
}
.sidenav{
    background-color: #DBAA4D;
    color: white;
    width: 15%;
    min-height: 100vh;
   
}
.link{
    padding: 23px;
    width: 100%;
}
.link:hover{
    background-color: #AE863B;
}

.active{
    background-color: #AE863B;
    padding: 23px;
    width: 100%;
}